{% extends "base_menu.html" %}

{% load static %}
{% block head %}
<script src="{% static 'js/control.js' %}"></script>
<script src="{% static 'js/actualizar.js' %}"></script>
{% endblock %} 

  




{% block content %}

<div id="${id}" class="fondo d-flex justify-content-center" tabindex="-1">




  <div id="contenedorActualizar" class="contenedorMensaje dark col-sm-12 col-md-4  d-flex justify-content-center"> 
  

    <div class="close"> <Button onclick="window.location='{% url 'gestion:index' %}'" title="Cerrar">X</Button> </div>

    <div class="row pt-4 pb-4  ml-0 mr-0 pl-0 pr-0 col-md-12 d-flex  justify-content-center rounded ">

      <div class="col-md-12 d-flex justify-content-center">
        <h1>Balance General {{ b.id }}</h1>
      </div>
      <form action="{% url 'gestion:eliminarBalance' b.id %}" method="POST">
        {% csrf_token %}
        <div  class="row col-md-12 mt-1 mb-1 ml-0 mr-0  justify-content-center inputDatos esconder">
            <input class="ml-1 mr-1" name="id" type="number" value="{{ b.id }}">
          </div>
        <div id="p1" class="row col-md-12 mt-1 mb-1 ml-0 mr-0 dflex justify-content-center inputDatos">
          <h5 class="pl-0 pr-0 text-center col-md-5">disponible</h5>
          <input class="ml-1 mr-1" id="disponible" name="disponible" type="number" value="{{ b.disponible }}">
         <a class="ml-1 mr-1 h5" href="#" title="Información adicional">?</a>
        </div>

        <div id="p2" class="row col-md-12 mt-1 mb-1 ml-0 mr-0 dflex justify-content-center inputDatos">
          <h5 class="pl-0 pr-0 text-center col-md-5">Valores negociables</h5>
          <input class="ml-1 mr-1" id="valoresNegociables" name="valoresNegociables" type="number" value="{{ b.valoresNegociables }}">
         <a class="ml-1 mr-1 h5" href="#" title="Información adicional">?</a>
        </div>

        <div id="p3" class="row col-md-12 mt-1 mb-1 ml-0 mr-0 dflex justify-content-center inputDatos">
          <h5 class="pl-0 pr-0 text-center col-md-5">Deudores por venta</h5>
          <input class="ml-1 mr-1" id="deudoresPorVenta" name="deudoresPorVenta" type="number" value="{{ b.deudoresPorVenta }}">
         <a class="ml-1 mr-1 h5" href="#" title="Información adicional">?</a>
        </div>

        <div id="p4" class="row col-md-12 mt-1 mb-1 ml-0 mr-0 dflex justify-content-center inputDatos">
          <h5 class="pl-0 pr-0 text-center col-md-5">Deudores Varios</h5>
          <input class="ml-1 mr-1" id="deudoresVarios" name="deudoresVarios" type="number" value="{{ b.deudoresVarios }}">
         <a class="ml-1 mr-1 h5" href="#" title="Información adicional">?</a>
        </div>

        <div id="p5" class="row col-md-12 mt-1 mb-1 ml-0 mr-0 dflex justify-content-center inputDatos">
          <h5 class="pl-0 pr-0 text-center col-md-5">Impuestos por recuperar</h5>
          <input class="ml-1 mr-1" id="impuestosPorRecuperar" name="impuestosPorRecuperar" type="number" value="{{ b.impuestosPorRecuperar }}">
         <a class="ml-1 mr-1 h5" href="#" title="Información adicional">?</a>
        </div>

 
  
        <div id="btnGuardarBalance" class="row col-md-12 mt-3 mb-3 ml-0 mr-0 d-flex justify-content-center inputDatos">
         <button onclick="window.loaction='{% url 'gestion:index' %}'" class="col-md-5 ml-1 mr-1 btn colorSave boton" >Regresar al inicio</button>
         <button type="submit" class="col-md-5 ml-1 mr-1 btn borrar boton" >Eliminar</button>
        </div>
    </form>
  </div>
</div>
</div>
{% endblock %}
{% block textopie %}{% endblock %}